body {
    color: #413D3D;
    background-color: #202328;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.item {
    width: 40%;
    padding: 2em;
    margin: 1em;
    background-color: #2a2c38;
    color: white;
    border: 8px solid transparent;
    border-image: url(/resources/images/trivia/border.png) 20 round;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

table td, table th {
    border: 1px solid #14c98f;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #04AA6D;
}

table tr:hover {
    background-color: #14c98f;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #14c98f;
    color: white;
}