<link href="/resources/stylesheets/estiloEncabezado.css" rel="stylesheet" type="text/css">
<nav>
    <ul>
        <li><a href="/">MAYAWEB </a></li>
        <li><a href="/calendarioHaab">Calendario Haab</a></li>
        <li><a href="#">Calendario Cholqij</a></li>
        <li><a href="/ruedaCalendarica">Rueda Calendarica</a></li>
        <li><a href="/matematica-maya">Matematica Maya</a></li>   
        <li><a href="#">Calculadora</a></li>
        <li>
            <a href="#">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <input type="search" />
    </ul>
</nav>