<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/stylesheets/estiloPrincipal.css">
    <title>MAYAWEB</title>
</head>

<body class="text-center">
    <%- include('encabezado') %>
        <div class="cont s--inactive">
            <!-- cont inner start -->
            <div class="cont__inner">
                <!-- el start -->
                <div class="el">
                    <div class="el__overflow">
                        <div class="el__inner">
                            <div class="el__bg"></div>
                            <div class="el__preview-cont">
                                <h2 class="el__heading">Calendario Haab</h2>
                            </div>
                            <div class="el__content">
                                <div class="el__text">Calendario Haab</div>
                                <div class="el__text2">
                                    El Haab, es el más similar al calendario que utilizamos en la actualidad con 365 días en su recuento que se basa en observaciones solares. Este calendario, según los expertos, se estima que se utilizó por primera vez alrededor del solsticio de invierno
                                    de 550 ANE y fue creado para ser utilizado en conjunto con el Tzolkin. En operación conjunta, el Haab y el Tzolkin crean un ciclo más grande de 52 años llamado como la Rueda Calendárica o Calendario Redondo que fue
                                    utilizado no solo por los mayas sino también por el resto de las culturas en Mesoamericanas.
                                </div>
                                <div class="el__close-btn"></div>
                                <a href="/calendarioHaab" class="button">Conocer Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="el__index">
                        <div class="el__index-back">1</div>
                        <div class="el__index-front">
                            <div class="el__index-overlay" data-index="1">1</div>
                        </div>
                    </div>
                </div>
                <!-- el end -->
                <!-- el start -->
                <div class="el">
                    <div class="el__overflow">
                        <div class="el__inner">
                            <div class="el__bg"></div>
                            <div class="el__preview-cont">
                                <h2 class="el__heading">Calendario Cholquij</h2>
                            </div>
                            <div class="el__content">
                                <div class="el__text">Calendario Cholquij</div>
                                <div class="el__text2">El Cholq’ij (término maya kaqchikel) es un calendario sagrado del pueblo Maya, compuesto por 260 días divididos en 13 meses. También recibe el nombre de calendario ritual o calendario sagrado o Tzolkin. De acuerdo con la
                                    cosmovisión maya, la lectura de los signos y numerales mayas descritos en este calendario espiritual y material le permite al ajq’ij orientar la vida de las personas, según su fecha de nacimiento; y también es utilizado
                                    por la Iyom para programar el recibimiento de una nueva criatura
                                </div>
                                <div class="el__close-btn"></div>
                                <a href="/calendariocholquij" class="button">Conocer Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="el__index">
                        <div class="el__index-back">2</div>
                        <div class="el__index-front">
                            <div class="el__index-overlay" data-index="2">2</div>
                        </div>
                    </div>
                </div>
                <!-- el end -->
                <!-- el start -->
                <div class="el">
                    <div class="el__overflow">
                        <div class="el__inner">
                            <div class="el__bg"></div>
                            <div class="el__preview-cont">
                                <h2 class="el__heading">Rueda Calendarica</h2>
                            </div>
                            <div class="el__content">
                                <div class="el__text">Rueda Calendarica</div>
                                <div class="el__text2">
                                    La rueda calendárica, es la combinación del ciclo de 260 días, Tzolkin en el Calendario maya, tonalpohualli en el calendario mexica; y el de 365 días ,Haab en maya, xiuhpohualli en náhuatl, pije en zapoteco; que para encajarse tardan un período de más
                                    o menos 52 años, 18.980 días siendo el mínimo común múltiplo de 260 y 365. El sistema de la rueda calendárica, sirve para interpretar una sucesión infinita de períodos de 52 años. Se desconoce su nombre en lenguas mayenses,
                                    pero el nombre en idioma náhuatl utilizado por los mexicas era "Xiuhnelpilli", aunque es más usual encontrarlo escrito como Xiuhmolpilli, forma gramaticalmente incorrecta;3​ cuyo significado es anudación de los años.
                                </div>
                                <div class="el__close-btn"></div>
                                <a href="/ruedaCalendarica" class="button">Conocer Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="el__index">
                        <div class="el__index-back">3</div>
                        <div class="el__index-front">
                            <div class="el__index-overlay" data-index="3">3</div>
                        </div>
                    </div>
                </div>
                <!-- el end -->
                <!-- el start -->
                <div class="el">
                    <div class="el__overflow">
                        <div class="el__inner">
                            <div class="el__bg"></div>
                            <div class="el__preview-cont">
                                <h2 class="el__heading">Matematica Maya</h2>
                            </div>
                            <div class="el__content">
                                <div class="el__text">Matematica Maya</div>
                                <div class="el__text2">
                                    Los mayas utilizaban un sistema de numeración vigesimal (de base 20) de raíz mixta, similar al de otras civilizaciones mesoamericanas. El sistema numérico de rayas y puntos, que formaba la base de la numeración maya, estaba en uso en Mesoamérica desde
                                    c. 1000 a. C.;los mayas lo adoptaron por el Preclásico Tardío, y añadieron el símbolo para el cero. En el sistema de numeración de base, la unidad se representa por un punto. Dos, tres y cuatro puntos sirven para representar
                                    2, 3 y 4, y la raya horizontal sirve para representar 5.Los mayas pudieron escribir cualquier número de 0 a 19, utilizando una combinación de estos símbolos.
                                </div>
                                <div class="el__close-btn"></div>
                                <a href="/matematica-maya" class="button">Conocer Mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="el__index">
                        <div class="el__index-back">4</div>
                        <div class="el__index-front">
                            <div class="el__index-overlay" data-index="4">4</div>
                        </div>
                    </div>
                </div>
                <!-- el end -->
                <!-- el start -->
                <div class="el">
                    <div class="el__overflow">
                        <div class="el__inner">
                            <div class="el__bg"></div>
                            <div class="el__preview-cont">
                                <h2 class="el__heading">Calculadora Calendarica</h2>
                            </div>
                            <div class="el__content">
                                <div class="el__text">Calculadora Calendarica</div>
                                <br>
                                <div clas="centrar">
                                    <%-include('calculadora')%>
                                </div>
                                <div class="el__close-btn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="el__index">
                        <div class="el__index-back">5</div>
                        <div class="el__index-front">
                            <div class="el__index-overlay" data-index="5">5</div>
                        </div>
                    </div>
                </div>
                <!-- el end -->
            </div>
            <!-- cont inner end -->
        </div>
        <script src="/resources/js/scriptPrincipal.js"></script>
</body>

</html>