<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/stylesheets/estiloRueda.css">
    <title>Calendario Haab</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js '></script>
    <script src="/resources/js/scriptRueda.js"></script>
</head>

<body class="text-center">
    <%- include('encabezado') %>

        <div class="fullscreen nopadding">
            <div class="header">
                <h1>RUEDA CALENDARICA</h1>
            </div>
        </div>

        <div class="white nopadding more">
            <a id="more">&#x25BC; More &#x25BC;</a>
        </div>

        <div class="white">
            <a id="test"></a>
            <h1>Informacion</h1>
            <img class="floatleft redondo" src="/resources/images/imgRueda/rueda1.jpg" />
            <div>
                El Calendario Maya se divide en un amplio sistema calendárico compuesto de un conjunto de distintos ciclos que se encuentran entrelazados entre sí. Cada uno tiene con sus propios propósitos rituales, astronómicos, agrícolas o de otro orden. Los antiguos
                mayas tenían una fascinación por los ciclos de tiempo y eran observadores consumados del cielo, usando su conocimiento de astronomía y matemáticas, lograron desarrollar uno de los sistemas de calendario más precisos de la historia humana.
                Los calendarios cíclicos mayas más comúnmente conocidos son Haab y Tzolkin. Además de estos, los mayas también desarrollaron el calendario de Cuenta Larga para fechar cronológicamente eventos míticos e históricos.

            </div>
        </div>

        <div class="white">
            <h1>Composicion</h1>
            <p>El nombre completo de cualquier fecha en el sistema de calendario maya consiste de una fecha Tzolk’in y una fecha Haab. La Rueda Calendárica es el entretejido de los calendarios Tzolk’in y Haab. En la Rueda Calendárica, una combinación del
                Tzolk’in y el Haab no se repetirán hasta que hayan pasado 52 períodos de 365 días. Esto está basado en el concepto matemático de “el mínimo común denominador” y “el mínimo común múltiplo”. Ambos números, 260 y 365, son divisibles por 5,
                y 260 dividido por 5 es igual a 52, mientras que 365 dividido por 5 es igual a 73. Por lo tanto, el mínimo común múltiplo de 260 y 365 es 5 x 52 x 73 = 18,980.</p>
            <h2>Mecanismo</h2>
            <p>De la Rueda del Calendario, se dice que el ciclo de 52 años es más importante que el año. Un ejemplo de fecha en la rueda calendárica, 8 Cauac 13 Zip, se referiría al octavo día de la trecena Cauac en el Tzolkin, que coincide con el día 13
                de Zip en el Haab. La diferencia entre los 52 años de 365 días cada uno y los 52 años de 360 días, es de 260 días exactamente; así se puede llevar el cálculo de sus coincidencias a través de ciclos de 260 días, ya que 18 980 = 73 x 260
                18 720 = 72 x 260 5 256 = 72 x 73 = 9 x 584.​ También debe ser tomado en cuenta que 13 x 360 = 18 x 260 = 4 680.
            </p>
            <h2>Ciclos.</h2>
            <p>Es decir, si los 5 días de Uayeb' son omitidos (como debe haber sido el caso en los orígenes del calendario), los períodos de 360 y de 260 días coincidirían después de, respectivamente, 13 y 18 ciclos (13 "años" de 360 días). Cuatro de esos
                ciclos de 13 "años" abarcan 52 "años" de 360 días. Ahora, 52 veces esos 5 adicionales días de Wayeb' resultan en exactamente uno más de los ciclos de 260 días. El sistema de la rueda calendárica, sirve para interpretar una sucesión infinita
                de períodos de 52 años. Se desconoce su nombre en lenguas mayenses, pero el nombre en idioma náhuatl utilizado por los mexicas era "Xiuhnelpilli", aunque es más usual encontrarlo escrito como Xiuhmolpilli, forma gramaticalmente incorrecta;
                cuyo significado es anudación de los años. Cada 52 años las culturas mesomericanas realizaban importantes ceremonias. Para el caso de los mexicas era la llamada "ceremonia del fuego nuevo".</p>
        </div>

        <!--
        <script type='text/javascript'>
        var datos =<%-JSON.stringify(informacion)%>;
        var inf = datos[0].informacion;
        document.getElementById('informacion').innerText += inf;
    </script>
    -->


</body>

</html>